.p-attrEditCol{
    @extend .p-skillEditCol;
    height: 30px;
    &-even{
        @extend .p-skillEditCol-even;
        &:disabled{
            background-color: $color_base;
        }
    }

    &-name{
        @extend .p-skillEditCol-name;
        width: 70px;
        justify-content: center;
        &-head{
            background-color: $color_base;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-width: 2px;
        }
    }
    &-num{
        @extend .p-skillEditCol-num;
        &-head{
            background-color: $color_base;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-width: 2px;
        }
    }

    &-btnWrap{
        @extend .p-skillEditCol-btnWrap;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-head{
            background-color: $color_base;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-width: 2px;
        }
    }

}