// @keyframes spin {
//     0% {transform: rotate(0deg);}
//     100% {transform: rotate(360deg);}
// }

.p-diceBtn{
    background-color: #ffffff00;
    border: solid 2px $color_accent;
    padding: 0;
    height: 95%;
    width: 95%;
    border-radius: 100%;
    fill: #fff;
    color: #fff;
    &:hover{
        // -webkit-animation: rotate(360deg) .15s linear;
        // animation: rotate(360deg) .15s linear;
        // transform: rotate(360deg);
        fill: $color_accent;
        color: $color_accent;
    }
    &:active{
        transition: .1ms;
        transform: scale(.92);
        // -webkit-animation: spin .15s linear;
        // animation: spin .15s linear;
    }
    & > .svg-dice{
        width: 80%;
        height: 80%;
    }
}